// CLASES GENERALES

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
.input-witdh {
  width: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.text-no-wrap {
  white-space: nowrap;
}
.button-alone {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
//This removes the snippet in html lists
ul {
  list-style-type: none;
}

.no-text-decoration {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
  }
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.background-black {
  background-color: black;
}
.common-price {
  background-color: red;
  color: black;
}
.logo-img {
  width: 95px;
}
.cart-container {
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 15px -5px #000000;
  border-radius: 15px;
  .cart-item {
    img {
      height: 80px;
      object-fit: contain;
    }
  }
}
.black-text {
  color: black;
}

.b-w-hover:hover {
  transition: 0.8s;
  background-color: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
}
.box {
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
  position: relative;
  width: 120%;
  .box-gallery-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 400px;
    margin: 30px 1px;
    padding: 5px;
    color: black;
    align-items: center;
    box-shadow: 12px 10px 32px -3px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 12px 10px 32px -3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 12px 10px 32px -3px rgba(0, 0, 0, 0.47);
    border-radius: 5px;

    img {
      margin: 10px;
      width: 90%;
      height: 180px;
      object-fit: contain;
    }

    button {
      position: absolute;
      top: 320px;
      color: white;
      background-color: #000000;
      font-weight: bold;
      border-radius: 10px;
    }

    .card-price {
      font-weight: bold;
      color: Red;
      position: absolute;
      top: 300px;
    }

    .item-name {
      margin-top: 30px;
      font-size: medium;
      color: gray;
      text-align: center;
    }
  }
}
.left-border {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-detail {
  margin-top: 10%;
  font-weight: 700;
  font-family: Roboto, "Times New Roman", serif;
  align-self: flex-start;
  padding: 30px;
  box-shadow: 13px 9px 22px -1px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 13px 9px 22px -1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 13px 9px 22px -1px rgba(0, 0, 0, 0.16);
  h3 {
    color: #3c4858;
  }
  img {
    width: 100%;
    height: 380px;
    object-fit: contain;
  }
  
  h4 {
    color: #009ee3;
  }
}
input {
  border-radius: 5px;
}

body {
  background-color: rgb(214, 206, 206);
}
@media screen and (max-width: 780px) {
  h1 {
    display: none;
    transition: 1.4s;
  }
  #search-div {
    transition: 1.4s;
    display: none;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    display: none;
    transition: 1.4s;
  }
  #search-div {
    transition: 1.4s;
    display: none;
  }
}
header {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 37%,
    rgba(0, 0, 0, 0.28333340172006305) 88%,
    rgba(215, 215, 215, 0.29173676306460083) 94%,
    rgba(255, 255, 255, 0.44859950816264005) 97%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 37%,
    rgba(0, 0, 0, 0.28333340172006305) 88%,
    rgba(215, 215, 215, 0.29173676306460083) 94%,
    rgba(255, 255, 255, 0.44859950816264005) 97%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 37%,
    rgba(0, 0, 0, 0.28333340172006305) 88%,
    rgba(215, 215, 215, 0.29173676306460083) 94%,
    rgba(255, 255, 255, 0.44859950816264005) 97%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
  padding-bottom: 10%;
}

//! navlink tags

.selected-link {
  transition: 0.3s;
  transition-timing-function: linear;
  text-decoration-color: rgb(103, 103, 122);
  background-color: rgb(200, 66, 149);
  border-radius: 5px;
  color: black;
}

.navLink {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    transition: 0.4s;
  }
}
footer {
  color: negro;
  position: relative;
  margin-top: 30%;
  background: #f0f3f5;

  .footer-container {
    border-radius: 10px;

    h3.footer__link {
      font-family: "Anton", sans-serif;
    }

    .menufooter {
      margin-top: 10px;

      a {
        font-size: 80%;
        color: gray;
        text-decoration: none;
        white-space: nowrap;
      }

      li {
        width: 40%;
        border-radius: 4px;
        color: black;
        padding: 5px;
        margin: 2px;

        &:hover {
          a {
            color: black;
          }
        }
      }
    }
  }
}

#over-limit {
  transform: translate(10px);
  animation-name: redtoYellow;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  border-radius: 5px;
  background-color: rgba(121, 4, 4, 0.897);
  color: white;
}
@keyframes redtoYellow {
  from {
    background-color: rgb(253, 253, 253);
    transform: translate(0, 100px);
  }

  to {
    background-color: rgba(121, 4, 4, 0.897);
    color: white;
    transform: translate(0, 0);
  }
}
#cart-total-price {
  background-color: #dbdbdb49;
  padding: 12px;
  border-radius: 5px;
}
.button-style-1 {
  background-color: #dbdbdbb3;
  padding: 12px;
  border-radius: 5px;
}
.color-inicio{
  background-color: black;
}
.button-style-2 {
  background-color: #3483fa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 1em;

  align-self: center;
  border-radius: 5px;
}